## F1

### 1. Importing And Cleaning

In [228]:
import kagglehub
from kagglehub import KaggleDatasetAdapter
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

df = kagglehub.dataset_load(
    KaggleDatasetAdapter.PANDAS,
    "pranay13257/f1-dnf-classification",
    "f1_dnf.csv" 
)

In [229]:
# First look at data
df.head()
df.info()
# target_finish == 1 means the driver finished the race and 0 means DNF 
df.target_finish.value_counts()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 31 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   resultId         10000 non-null  int64
 1   raceId           10000 non-null  int64
 2   year             10000 non-null  int64
 3   round            10000 non-null  int64
 4   grid             10000 non-null  int64
 5   positionOrder    10000 non-null  int64
 6   points           9029 non-null   float64
 7   laps             9022 non-null   float64
 8   milliseconds     8982 non-null   object
 9   fastestLap       10000 non-null  object
 10  rank             10000 non-null  object
 11  fastestLapTime   10000 non-null  object
 12  fastestLapSpeed  9047 non-null   object
 13  driverRef        10000 non-null  object
 14  surname          10000 non-null  object
 15  forename         10000 non-null  object
 16  dob              10000 non-null  object
 17  nationality_x    10000 non-null  object
 18  constructorRef   10000 non-null  object
 19  name             10000 non-null  object
 20  nationality_y    10000 non-null  object
 21  circuitRef       10000 non-null  object
 22  circuitId        10000 non-null  int64
 23  name_y           10000 non-null  object
 24  location         10000 non-null  object
 25  country          10000 non-null  object
 26  lat              10000 non-null  float64
 27  lng              10000 non-null  float64
 28  alt              10000 non-null  int64
 29  date             10000 non-null  object
 30  target_finish    10000 non-null  int64
dtypes: float64(4), int64(9), object(18)
memory usage: 2.4+ MB

target_finish
0    7105
1    2895
Name: count, dtype: int64

In [230]:
df[['fastestLap','fastestLapSpeed','fastestLapTime']].sample(5)

     fastestLap fastestLapSpeed fastestLapTime
457          \N             NaN             \N
7838         \N             NaN             \N
4251         \N              \N             \N
697          \N              \N             \N
259          \N              \N             \N

In [231]:
# Before converting, see what string values are hiding
object_cols = df.select_dtypes(include='object').columns
for col in object_cols:
    unique_vals = df[col].unique()
    print(f"\n{col}: {len(unique_vals)} unique values")
    print(f"Sample values: {unique_vals[:10]}")
    
    # Check for suspicious strings
    suspicious = df[df[col].isin(['\\N', 'NaN', 'nan', 'NULL', 'null', '', ' '])][col].value_counts()
    if len(suspicious) > 0:
        print(f"Found suspicious values in {col}:")
        print(suspicious)

milliseconds: 2600 unique values
Sample values: [nan '\\N' '4754232' '5513145' '6523887' '5300227' '6243700' '6918000'
 '9989700' '5251638']
Found suspicious values in milliseconds:
milliseconds
\N    6375
Name: count, dtype: int64

fastestLap: 80 unique values
Sample values: ['\\N' '57' '61' '53' '64' '55' '54' '63' '46' '29']
Found suspicious values in fastestLap:
fastestLap
\N    6895
Name: count, dtype: int64

rank: 26 unique values
Sample values: ['\\N' '16' '17' '9' '3' '7' '2' '13' '1' '11']
Found suspicious values in rank:
rank
\N    6798
Name: count, dtype: int64

fastestLapTime: 2990 unique values
Sample values: ['\\N' '1:10.005' '1:16.992' '1:27.092' '1:17.472' '1:40.315' '1:17.776'
 '1:19.491' '1:21.370' '1:12.268']
Found suspicious values in fastestLapTime:
fastestLapTime
\N    6895
Name: count, dtype: int64

fastestLapSpeed: 2743 unique values
Sample values: ['\\N' '222.052' '156.031' '239.457' '202.648' nan '197.844' '215.557'
 '190.419' '214.651']
Found suspicious values in fastestLapSpeed:
fastestLapSpeed
\N    6238
Name: count, dtype: int64

driverRef: 677 unique values
Sample values: ['raikkonen' 'watson' 'ruttman' 'mick_schumacher' 'modena'
 'kevin_magnussen' 'mario_andretti' 'gutierrez' 'hamilton' 'ireland']

surname: 639 unique values
Sample values: ['Räikkönen' 'Watson' 'Ruttman' 'Schumacher' 'Modena' 'Magnussen'
 'Andretti' 'Gutiérrez' 'Hamilton' 'Ireland']

forename: 407 unique values
Sample values: ['Kimi' 'John' 'Troy' 'Mick' 'Stefano' 'Kevin' 'Mario' 'Esteban' 'Lewis'
 'Innes']

dob: 668 unique values
Sample values: ['1979-10-17' '1946-05-04' '1930-03-11' '1999-03-22' '1963-05-12'
 '1992-10-05' '1940-02-28' '1991-08-05' '1985-01-07' '1930-06-12']

nationality_x: 40 unique values
Sample values: ['Finnish' 'British' 'American' 'German' 'Italian' 'Danish' 'Mexican'
 'Austrian' 'Swedish' 'Belgian']

constructorRef: 174 unique values
Sample values: ['mclaren' 'maserati' 'haas' 'eurobrun' 'parnelli' 'sauber' 'mercedes'
 'team_lotus' 'onyx' 'jordan']

name: 77 unique values
Sample values: ['Hungaroring' 'Long Beach' 'Nürburgring' 'Red Bull Ring'
 'Autodromo Nazionale di Monza' 'Circuit de Monaco' 'Watkins Glen'
 'Circuit Gilles Villeneuve' 'Autódromo Juan y Oscar Gálvez'
 'Adelaide Street Circuit']

nationality_y: 21 unique values
Sample values: ['British' 'Italian' 'American' 'Swiss' 'German' 'Irish' 'French'
 'Austrian' 'Indian' 'Malaysian']

circuitRef: 77 unique values
Sample values: ['hungaroring' 'long_beach' 'nurburgring' 'red_bull_ring' 'monza' 'monaco'
 'watkins_glen' 'villeneuve' 'galvez' 'adelaide']

name_y: 174 unique values
Sample values: ['McLaren' 'Maserati' 'Haas F1 Team' 'Euro Brun' 'Parnelli' 'Sauber'
 'Mercedes' 'Team Lotus' 'Onyx' 'Jordan']

location: 75 unique values
Sample values: ['Budapest' 'California' 'Nürburg' 'Spielberg' 'Monza' 'Monte-Carlo'
 'New York State' 'Montreal' 'Buenos Aires' 'Adelaide']

country: 35 unique values
Sample values: ['Hungary' 'USA' 'Germany' 'Austria' 'Italy' 'Monaco' 'Canada' 'Argentina'
 'Australia' 'Japan']

date: 1125 unique values
Sample values: ['2002-08-18' '1981-03-15' '1958-08-03' '2021-06-27' '1988-09-11'
 '2019-05-26' '1975-10-05' '2013-09-08' '2015-06-07' '1960-02-07']

In [232]:
# They are objects so we first need to convert them to numeric
df['points'] = pd.to_numeric(df['points'], errors='coerce')
df['laps'] = pd.to_numeric(df['laps'], errors='coerce')
df['milliseconds'] = pd.to_numeric(df['milliseconds'], errors='coerce')
df['fastestLapSpeed'] = pd.to_numeric(df['fastestLapSpeed'], errors='coerce')
df['rank'] = pd.to_numeric(df['rank'], errors='coerce')
df['fastestLap'] = pd.to_numeric(df['fastestLap'], errors='coerce')
df['fastestLapTime'] = pd.to_numeric(df['fastestLapTime'], errors='coerce')
df['fastestLapSpeed'] = pd.to_numeric(df['fastestLapSpeed'], errors='coerce')

In [233]:
# Drops columns with too many NaNs
df = df.drop(columns=['milliseconds','fastestLap','rank','fastestLapTime','fastestLapSpeed'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 26 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   resultId        10000 non-null  int64
 1   raceId          10000 non-null  int64
 2   year            10000 non-null  int64
 3   round           10000 non-null  int64
 4   grid            10000 non-null  int64
 5   positionOrder   10000 non-null  int64
 6   points          9029 non-null   float64
 7   laps            9022 non-null   float64
 8   driverRef       10000 non-null  object
 9   surname         10000 non-null  object
 10  forename        10000 non-null  object
 11  dob             10000 non-null  object
 12  nationality_x   10000 non-null  object
 13  constructorRef  10000 non-null  object
 14  name            10000 non-null  object
 15  nationality_y   10000 non-null  object
 16  circuitRef      10000 non-null  object
 17  circuitId       10000 non-null  int64
 18  name_y          10000 non-null  object
 19  location        10000 non-null  object
 20  country         10000 non-null  object
 21  lat             10000 non-null  float64
 22  lng             10000 non-null  float64
 23  alt             10000 non-null  int64
 24  date            10000 non-null  object
 25  target_finish   10000 non-null  int64
dtypes: float64(4), int64(9), object(13)
memory usage: 2.0+ MB

In [234]:
# Checking NaNs
print(df.isna().sum())
print(df.points.unique(),"\n",df.laps.unique(),"\n")

resultId            0
raceId              0
year                0
round               0
grid                0
positionOrder       0
points            971
laps              978
driverRef           0
surname             0
forename            0
dob                 0
nationality_x       0
constructorRef      0
name                0
nationality_y       0
circuitRef          0
circuitId           0
name_y              0
location            0
country             0
lat                 0
lng                 0
alt                 0
date                0
target_finish       0
dtype: int64
[ 3.    0.     nan 25.    1.    4.   10.    9.   12.    5.    6.    2.
  8.   11.   18.   26.   15.   30.    8.5  13.   19.    1.5   7.    6.5
  0.5   3.5   8.14 16.    4.5  36.  ]
 [ 77.  16.   0.  69.   9.  53.  70.  79.  81.  51.  75.  55.  nan  66.
  67.  26.  27.  32.  44.  38.  78.  58.   8.  68.  13. 100.  34.  56.
  71.   7.  64.  30.  61.  62.  52.  65.  14.  57.   1.  76.  60.  31.
  54.  12.  41.  35.  22.  72.   3.  42.  50.  37.   2.  21.   5.  20.
  29.  18. 199.  39.  28.  49.  73.  33.  87.  11.  43.  94.  40. 200.
  45.  48.   4.  80.  63.  10.  15.  25.  59.  23.  74.  24.  46.   6.
  89. 112.  90.  93.  47.  84.  17.  96.  36.  97. 151.  83.  82.  19.
 196. 122. 107.  91.  98. 136.  88. 101.  99.  85. 197. 147.  95. 105.
 182.  86. 108. 125. 130. 191. 194.  92. 102. 189. 134. 110. 193. 177.
 165. 181. 119. 103. 135. 162. 129. 137. 109. 166. 104. 106. 185.]

In [235]:
for col in df.columns:
    print(f"Column: {col}")
    print(df[col].nunique())
    print("\n")

Column: resultId
10000


Column: raceId
1125


Column: year
75


Column: round
24


Column: grid
35


Column: positionOrder
39


Column: points
29


Column: laps
138


Column: driverRef
677


Column: surname
639


Column: forename
407


Column: dob
668


Column: nationality_x
40


Column: constructorRef
174


Column: name
77


Column: nationality_y
21


Column: circuitRef
77


Column: circuitId
77


Column: name_y
174


Column: location
75


Column: country
35


Column: lat
77


Column: lng
77


Column: alt
66


Column: date
1125


Column: target_finish
2

In [242]:
# Filling NaNs in 'points' 
# Use race-specific median for all rows
df['points'] = df.groupby('raceId')['points'].transform(lambda x: x.fillna(x.median()))
# Fill any remaining NaNs with overall median
df['points'].fillna(df['points'].median(), inplace=True)

print(df['points'].isna().sum())

0

C:\Users\vatsa\AppData\Local\Temp\ipykernel_18336\2385815021.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['points'].fillna(df['points'].median(), inplace=True)

In [243]:
#Show what are still NaNs
print(df[df.isna().any(axis=1)])

      resultId  raceId  year  round  grid  positionOrder  points  laps  \
43        3216     171  2000     14     1              1    10.0   NaN
399      11175     470  1982      4     5              3     4.0   NaN
846      17154     707  1965      9     7              3     4.0   NaN
1054     20118     837  1950      5     2              1     0.0   NaN
1337      2976     160  2000      3     1              2     6.0   NaN
1730      9794     419  1986     16     4              1     0.0   NaN
2687     13584     555  1977     13     2              2     6.0   NaN
3872      2116     120  2003     13     7              2     8.0   NaN
3987      8679     378  1988      7     1              1     9.0   NaN
4452     15695     635  1971      4     1              1     9.0   NaN
5045     25366    1072  2021     21     1              1    26.0   NaN
5108     12326     510  1980     13    22              5     2.0   NaN
5171     11188     471  1982      5     3              2     6.0   NaN
5652     25373    1072  2021     21    15              8     4.0   NaN
5733     20784     841  2011      1     4              6     8.0   NaN
6840     16700     684  1967      6     1              1     9.0   NaN
6886      9998     427  1985      8     3              1     9.0   NaN
7245     15070     610  1973      6     1              1     9.0   NaN
7261     16489     673  1968      7     4              1     9.0   NaN
7404     16986     699  1965      1     5              3     4.0   NaN
7448     11083     467  1982      1    13              4     3.0   NaN
7794     11818     492  1981     10     7              3     4.0   NaN
8139      2482     137  2002     14     8              6     1.0   NaN
8437     10769     456  1983      5     5              1     9.0   NaN
8753     14478     588  1975     13    14              6     1.0   NaN
8814     10685     453  1983      2    23              2     6.0   NaN
9186       169      26  2008      9     4              1    10.0   NaN
9320      3128     167  2000     10     1              1    10.0   NaN
9527      6370     301  1992     13     5              4     3.0   NaN
9718      2156     122  2003     15     1              2     8.0   NaN
9729     11085     467  1982      1     9              6     1.0   NaN
9784      5115     256  1995     17     1              1    10.0   NaN
9856     23663     983  2017     15     1              2    18.0   NaN

               driverRef     surname  ...      circuitRef circuitId  \
43    michael_schumacher  Schumacher  ...           monza        14
399             alboreto    Alboreto  ...           imola        21
846         jack_brabham     Brabham  ...    watkins_glen        46
1054              fangio      Fangio  ...             spa        13
1337            hakkinen    Häkkinen  ...           imola        21
1730               prost       Prost  ...        adelaide        29
2687             laffite     Laffite  ...       zandvoort        39
3872           raikkonen   Räikkönen  ...     hungaroring        11
3987               prost       Prost  ...          ricard        34
4452                ickx        Ickx  ...       zandvoort        39
5045            hamilton    Hamilton  ...          jeddah        77
5108   gilles_villeneuve  Villeneuve  ...      villeneuve         7
5171        keke_rosberg     Rosberg  ...          zolder        40
5652               sainz       Sainz  ...          jeddah        77
5733              button      Button  ...     albert_park         1
6840               clark       Clark  ...     silverstone         9
6886               prost       Prost  ...     silverstone         9
7245             stewart     Stewart  ...          monaco         6
7261             siffert     Siffert  ...    brands_hatch        38
7404                hill        Hill  ...          george        56
7448               lauda       Lauda  ...         kyalami        30
7794             laffite     Laffite  ...  hockenheimring        10
8139              irvine      Irvine  ...             spa        13
8437        keke_rosberg     Rosberg  ...          monaco         6
8753               pryce       Pryce  ...           monza        14
8814               lauda       Lauda  ...      long_beach        43
9186            hamilton    Hamilton  ...     silverstone         9
9320            hakkinen    Häkkinen  ...   red_bull_ring        70
9527              berger      Berger  ...           monza        14
9718           raikkonen   Räikkönen  ...    indianapolis        19
9729              watson      Watson  ...         kyalami        30
9784          damon_hill        Hill  ...        adelaide        29
9856            hamilton    Hamilton  ...          sepang         2

              name_y               location       country       lat  \
43           Ferrari                  Monza         Italy  45.61560
399          Tyrrell                  Imola         Italy  44.34390
846   Brabham-Climax         New York State           USA  42.33690
1054      Alfa Romeo                    Spa       Belgium  50.43720
1337         McLaren                  Imola         Italy  44.34390
1730         McLaren               Adelaide     Australia -34.92720
2687          Ligier              Zandvoort   Netherlands  52.38880
3872         McLaren               Budapest       Hungary  47.57890
3987         McLaren           Le Castellet        France  43.25060
4452         Ferrari              Zandvoort   Netherlands  52.38880
5045        Mercedes                 Jeddah  Saudi Arabia  21.63190
5108         Ferrari               Montreal        Canada  45.50000
5171        Williams         Heusden-Zolder       Belgium  50.98940
5652         Ferrari                 Jeddah  Saudi Arabia  21.63190
5733         McLaren              Melbourne     Australia -37.84970
6840      Lotus-Ford            Silverstone            UK  52.07860
6886         McLaren            Silverstone            UK  52.07860
7245         Tyrrell            Monte-Carlo        Monaco  43.73470
7261      Lotus-Ford                   Kent            UK  51.35690
7404             BRM  Eastern Cape Province  South Africa -33.04860
7448         McLaren                Midrand  South Africa -25.98940
7794          Ligier             Hockenheim       Germany  49.32780
8139          Jaguar                    Spa       Belgium  50.43720
8437        Williams            Monte-Carlo        Monaco  43.73470
8753     Shadow-Ford                  Monza         Italy  45.61560
8814         McLaren             California           USA  33.76510
9186         McLaren            Silverstone            UK  52.07860
9320         McLaren              Spielberg       Austria  47.21970
9527         McLaren                  Monza         Italy  45.61560
9718         McLaren           Indianapolis           USA  39.79500
9729         McLaren                Midrand  South Africa -25.98940
9784        Williams               Adelaide     Australia -34.92720
9856        Mercedes           Kuala Lumpur      Malaysia   2.76083

             lng   alt        date target_finish
43      9.281110   162  2000-09-10             1
399    11.716700    37  1982-04-25             1
846   -76.927200   485  1965-10-03             1
1054    5.971390   401  1950-06-18             1
1337   11.716700    37  2000-04-09             1
1730  138.617000    58  1986-10-26             1
2687    4.540920     6  1977-08-28             1
3872   19.248600   264  2003-08-24             1
3987    5.791670   432  1988-07-03             1
4452    4.540920     6  1971-06-20             1
5045   39.104400    15  2021-12-05             1
5108  -73.522800    13  1980-09-28             1
5171    5.256940    36  1982-05-09             1
5652   39.104400    15  2021-12-05             1
5733  144.968000    10  2011-03-27             1
6840   -1.016940   153  1967-07-15             1
6886   -1.016940   153  1985-07-21             1
7245    7.420560     7  1973-06-03             1
7261    0.263056   145  1968-07-20             1
7404   27.873600    15  1965-01-01             1
7448   28.076700  1460  1982-01-23             1
7794    8.565830   103  1981-08-02             1
8139    5.971390   401  2002-09-01             1
8437    7.420560     7  1983-05-15             1
8753    9.281110   162  1975-09-07             1
8814 -118.189000    12  1983-03-27             1
9186   -1.016940   153  2008-07-06             1
9320   14.764700   678  2000-07-16             1
9527    9.281110   162  1992-09-13             1
9718  -86.234700   223  2003-09-28             1
9729   28.076700  1460  1982-01-23             1
9784  138.617000    58  1995-11-12             1
9856  101.738000    18  2017-10-01             1

[33 rows x 26 columns]

In [244]:
# Filling NaNs in 'laps'
df['laps'] = df.groupby('raceId')['laps'].transform(lambda x: x.fillna(x.median()))
df['laps'].fillna(df['laps'].median(), inplace=True)

print(df['laps'].isna().sum())

0

C:\Users\vatsa\AppData\Local\Temp\ipykernel_18336\462212142.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['laps'].fillna(df['laps'].median(), inplace=True)

In [245]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 26 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   resultId        10000 non-null  int64
 1   raceId          10000 non-null  int64
 2   year            10000 non-null  int64
 3   round           10000 non-null  int64
 4   grid            10000 non-null  int64
 5   positionOrder   10000 non-null  int64
 6   points          10000 non-null  float64
 7   laps            10000 non-null  float64
 8   driverRef       10000 non-null  object
 9   surname         10000 non-null  object
 10  forename        10000 non-null  object
 11  dob             10000 non-null  object
 12  nationality_x   10000 non-null  object
 13  constructorRef  10000 non-null  object
 14  name            10000 non-null  object
 15  nationality_y   10000 non-null  object
 16  circuitRef      10000 non-null  object
 17  circuitId       10000 non-null  int64
 18  name_y          10000 non-null  object
 19  location        10000 non-null  object
 20  country         10000 non-null  object
 21  lat             10000 non-null  float64
 22  lng             10000 non-null  float64
 23  alt             10000 non-null  int64
 24  date            10000 non-null  object
 25  target_finish   10000 non-null  int64
dtypes: float64(4), int64(9), object(13)
memory usage: 2.0+ MB

In [269]:
df.sample(5)

,resultId,raceId,year,round,grid,positionOrder,points,laps,driverRef,surname,...,circuitRef,circuitId,name_y,location,country,lat,lng,alt,date,target_finish
297,5213,259,1994,3,25,19,0.0,23.0,gachot,Gachot,...,imola,21,Pacific,Imola,Italy,44.3439,11.7167,37,1994-05-01,0
5583,24269,1013,2019,4,9,7,6.0,51.0,sainz,Sainz,...,baku,73,McLaren,Baku,Azerbaijan,40.3725,49.8533,-7,2019-04-28,1
7918,683,50,2007,15,9,7,4.8,67.0,kubica,Kubica,...,fuji,16,BMW Sauber,Oyama,Japan,35.3717,138.9270,583,2007-09-30,1
9857,6657,310,1991,6,19,15,0.0,48.0,suzuki,Suzuki,...,rodriguez,32,Lola,Mexico City,Mexico,19.4042,-99.0907,2227,1991-06-16,0
4982,1011,65,2006,13,12,5,4.0,69.0,coulthard,Coulthard,...,hungaroring,11,Red Bull,Budapest,Hungary,47.5789,19.2486,264,2006-08-06,0

## Feature Engineering